<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.6.4.min.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <div class="container-fluid">
                <a class="navbar-brand active" href="{{ path('app_index') }}">Hurtownia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="{{ path('app_index') }}">Strona główna</a>
                        <a class="nav-link" href="#">Magazyn</a>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{ path('app_register') }}">Utwórz użytkownika</a>
                                <a class="nav-link" href="{{ path('app_stock') }}">Utwórz magazyn</a>
                            {% endif %}

                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj się</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
        {% block content %}{% endblock %}
        <footer>
            <div class="pt-3 pb-3 bg-secondary">
                <span class="d-block text-center text-white">Hurtownia</span>
            </div>
        </footer>
    </body>
</html>
